
.root{
    -fx-background-color: darkblue;
}
#playboard{
    -fx-alignment: center;
}

#gametitel{
    -fx-font-size: 40;
    -fx-alignment: center;
}
.label{
    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "white";
    -fx-alignment: center;
}
.button{
    -fx-background-color: grey;
    -fx-font-family: "Lucida Console";
    -fx-background-radius: 15;
    -fx-font-size: 20;
    -fx-alignment: center;
}